resources:
  jobs:
    {{.pipeline_name}}-setup:
      name: "{{.pipeline_name}}-setup"
      parameters:
        - name: catalog
          default: {{.catalog}}
        - name: schema
          default: {{.schema}}
        - name: root_path
          default: {{.root_path}}
      tasks:
        - task_key: generate_data
          notebook_task:
            notebook_path: ../01-Data-ingestion/1.1_Data_Generation_Notebook.py
            source: WORKSPACE
          job_cluster_key: job_cluster
        - task_key: run_dlt_pipeline
          depends_on:
            - task_key: generate_data
          pipeline_task:
            pipeline_id: ${resources.pipelines.{{.pipeline_name}}.id}
            full_refresh: true
        - task_key: run_job_phase_predictions
          notebook_task:
            notebook_path: ../02-Data-Science-ML/02.1-automl-job-phase-time-predictions.py
            source: WORKSPACE
          job_cluster_key: job_cluster
          depends_on:
            - task_key: run_dlt_pipeline
        - task_key: run_cost_predictions
          notebook_task:
            notebook_path: ../02-Data-Science-ML/02.2-automl-cost-budget-predictions.py
            source: WORKSPACE
          job_cluster_key: job_cluster
          depends_on:
            - task_key: run_dlt_pipeline
      job_clusters:
        - job_cluster_key: job_cluster
          new_cluster:
            cluster_name: ""
            spark_version: 16.2.x-cpu-ml-scala2.12
            node_type_id: {{.instance_type}}
            spark_env_vars:
              PYSPARK_PYTHON: /databricks/python3/bin/python3
            enable_elastic_disk: true
            data_security_mode: SINGLE_USER
            runtime_engine: PHOTON
            num_workers: 3
      queue:
        enabled: true

  pipelines:
    {{.pipeline_name}}:
      name: "{{.pipeline_name}}"
      catalog: {{.catalog}}
      target: {{.schema}}
      libraries:
        - notebook:
            path: ../01-Data-ingestion/1.2_Streaming_DLT_SQL.sql
      configuration:
        catalog: {{.catalog}}
        schema: {{.schema}}
      development: true
      continuous: false
      channel: CURRENT
      edition: ADVANCED
      photon: true
      


